.signup {
    width: 100%;
    height: calc(100% - 20px);
    margin-top: 20px;
    overflow-y: auto;
}

.signup-box {
    width: 90%;
    margin: 10vh auto 0 auto;
    margin-top: 10dvh;

    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-name {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.have-account {
    text-align: center;
    margin-top: 20px;
}

.sign-in-btn {
    color: var(--dark-peach);
    font-weight: 700;
    cursor: pointer;
}

@media (min-width: 1100px) {
    .signup-name {
        flex-direction: row;
        gap: 20px;
    }
}
