.inv-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.inv-save-and-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100vw;
    flex-direction: column;
    background-color: var(--peaches-and-cream);
    padding: 20px;
}

.inv-search-bar {
    width: 100%;
}

.inv-buttons {
    width: 100%;
}

.inventory-note {
    margin-top: 20px;
    margin-bottom: 20px;
}

.stock-input {
    max-width: 100px;
}

@media (min-width: 600px) {
    .inv-header {
        margin-top: 0;
    }

    .inv-save-and-search {
        width: 100%;
        margin: 0;
    }
}

@media (min-width: 800px) {
    .inv-save-and-search {
        flex-direction: row;
        background-color: transparent;
        padding: 0;
    }

    .inv-search-bar {
        width: 250px;
    }

    .inv-buttons {
        width: auto;
    }
}

@media (min-width: 1000px) {
    .inv-header {
        align-items: flex-start;
    }
    .inv-save-and-search {
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    .inv-header {
        flex-direction: row;
        align-items: center;
    }

    .inv-save-and-search {
        width: auto;
    }
}
