.product-details-container {
    display: flex;
    gap: 30px;
    max-width: 90rem;
    width: 90vw;
    margin: 0 auto;
}

.product-images-cont {
    max-width: 28rem;
}

.product-images {
    /* width: calc(48rem + 10px); */
    max-height: 40rem;
    height: auto;
    /* position: relative; */
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    flex-shrink: 1;
}

.product-details-image-cont {
    max-height: 40rem;
    max-width: 40rem;
    /* flex: 100%; */
    flex-shrink: 1;
}

.product-details-image {
    width: 100%;
    aspect-ratio: 1;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* min-height: 40rem; */
    flex: 1 0 568px;
}

.pd-top {
    flex-grow: 1;
}

.pd-sale-label {
    text-transform: uppercase;
    color: var(--dark-peach);
    font-weight: 900;
    letter-spacing: 0.15rem;
    margin-bottom: 10px;
}
.pd-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.225);
    padding-bottom: 10px;
}

.pd-product-name {
    margin: 0;
    line-height: 2rem;
}

.pd-price-cont {
    margin-top: 20px;
}

.pd-description {
    font-size: 1.1rem;
    line-height: 1.3rem;
}

.pd-details-header {
    font-family: var(--Lato);
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-top: 30px;
    margin-bottom: 0;
}
.pd-attributes {
    background-color: var(--peaches-and-cream);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 5px;
}

.pd-carousel-container .slick-track {
    width: 100% !important;
}

/* React-Slick Customization */

.pd-carousel-container {
    width: 100%;
    max-width: 40rem;
    height: 150px;
    flex-shrink: 0;
}

/* .pd-carousel-container .slick-slide {
    height: 150px;
    display: flex;
} */

.product-details-thumbnail {
    width: 100%;
    height: auto;
    padding-right: 10px;
}

@media (min-width: 1342px) {
    .product-images-cont {
        max-width: none;
    }

    .product-images {
        flex-direction: row;
    }

    .product-details-image-cont {
        flex: 0 1 100%;
    }

    .product-details-image {
        width: 100%;
        aspect-ratio: 1;
    }

    .product-details-thumbnail {
        width: 100%;
        height: auto;
        padding-right: 0;
        padding-bottom: 5px;
    }

    .pd-carousel-container {
        flex: 0 0 150px;
        height: 100%;
        max-height: 40rem;
        width: auto;
        max-width: none;
    }

    .pd-carousel-container .slick-prev {
        left: 50%;
        top: 5px;
        transform: rotate(90deg) translate(0, 50%);
        z-index: 1;
    }

    .pd-carousel-container .slick-next {
        right: 50%;
        bottom: 5px;
        top: auto;
        transform: rotate(90deg) translate(0, -50%);
    }
}
