@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mrs+Saint+Delafield&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --dark-peach: #ec7f52;
    --deep-peach: #f1a180;
    --peach-blush: #f6b99d;
    --pale-gold: #fcca73;
    --rich-gold: #e8b154;
    --peach-blossom: #fbeee5;
    --peaches-and-cream: #f3d9c8;
    --contrast: #e9f3fb;
    --Lato: "Lato", sans-serif;
    --Fraunces: "Fraunces", serif;
    --Playfair: "Playfair Display", serif;
    --Delafield: "Mrs Saint Delafield", sans-serif;
    --metallic-overlay: radial-gradient(
            ellipse farthest-corner at right bottom,
            #b2b2b2 0%,
            #bdbdbd 8%,
            #7b7b7b 30%,
            #6f6f6f 40%,
            transparent 80%
        ),
        radial-gradient(
            ellipse farthest-corner at left top,
            #fefefe 0%,
            #ffffff 8%,
            #b4b4b4 25%,
            #4a4a4a 62.5%,
            #4a4a4a 100% /* was #5d4a1f */
        );
    --light-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.434);
}

@supports (property(--dark-peach)) {
    @property --dark-peach {
        syntax: "<color>";
        inherits: false;
        initial-value: #ec7f52;
    }

    @property --deep-peach {
        syntax: "<color>";
        inherits: false;
        initial-value: #f1a180;
    }

    @property --peach-blush {
        syntax: "<color>";
        inherits: false;
        initial-value: #f6b99d;
    }

    @property --pale-gold {
        syntax: "<color>";
        inherits: false;
        initial-value: #fcca73;
    }

    @property --rich-gold {
        syntax: "<color>";
        inherits: false;
        initial-value: #e8b154;
    }

    @property --peach-blossom {
        syntax: "<color>";
        inherits: false;
        initial-value: #fbeee5;
    }

    @property --peaches-and-cream {
        syntax: "<color>";
        inherits: false;
        initial-value: #f3d9c8;
    }
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--peach-blossom);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* Disable built-in "X" in html search field */

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
