@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mrs+Saint+Delafield&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --deep-peach: #f1a180;
    --peach-blush: #f6b99d;
    --pale-gold: #fcca73;
    --rich-gold: #e8b154;
    --peach-blossom: #fbeee5;
    --peaches-and-cream: #f3d9c8;
    --contrast: #e9f3fb;
    --Lato: "Lato", sans-serif;
    --Fraunces: "Fraunces", serif;
    --Playfair: "Playfair Display", serif;
    --Delafield: "Mrs Saint Delafield", sans-serif;
    --metallic-overlay: radial-gradient(
            ellipse farthest-corner at right bottom,
            #b2b2b2 0%,
            #bdbdbd 8%,
            #7b7b7b 30%,
            #6f6f6f 40%,
            transparent 80%
        ),
        radial-gradient(
            ellipse farthest-corner at left top,
            #fefefe 0%,
            #ffffff 8%,
            #b4b4b4 25%,
            #4a4a4a 62.5%,
            #4a4a4a 100% /* was #5d4a1f */
        );
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--peach-blossom);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
