.recent-wrapper {
    padding: 0 10px 10px 10px;
}
.recent-wrapper h1 {
    font-size: 1.2rem;
    margin-top: 20px;
}

.recent-list {
    width: 100%;
    max-height: calc(80dvh - 80px);
    overflow-y: auto;
}

.recent-item {
    display: flex;
    justify-content: space-between;
    width: 97%;
    background-color: white;
    padding: 10px;
    margin: 10px auto;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.213);
}

.recent-thumb {
    width: 100px;
    height: auto;
}

.recent-name {
    margin-left: 20px;
    font-family: var(--Playfair);
}
