main {
    width: 100vw;
    /* height: 100%; */
    position: absolute;
    left: 0;
    top: 56px;
    padding: 10px;
    min-height: 100dvh;
}

h1,
h2,
h3,
h4 {
    font-family: var(--Playfair);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: var(--Lato);
    font-size: 0.8rem;
    color: black;
}

@media (min-width: 750px) {
    main {
        width: calc(100vw - 240px);
        min-height: calc(100% - 64px);
        left: 240px;
        top: 64px;
        padding: 20px;
    }
}
