footer {
    width: 100vw;
    height: 130px;
    background-color: var(--deep-peach);
    color: #313131;
    padding: 40px 10px 20px 10px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.8rem;
}

footer a {
    color: #313131;
}

footer ul {
    list-style: none;
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 295px;
}

footer li {
    margin: 0 5px;
    height: 20px;
}

.copyright {
    text-align: center;
}

@media (min-width: 471px) {
    footer ul {
        display: flex;
        justify-content: center;
        gap: 0;
        width: auto;
    }
}

@media (min-width: 600px) {
    footer {
        align-items: flex-start;
        padding: 40px 20px 20px 20px;
    }
}
