@media (max-width: 810px) {
    header {
        position: sticky;
        top: -50px;
    }
}

.m-blur-filter {
    background-color: #fbeee576;
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    backdrop-filter: blur(3px);
    z-index: 4;
}

.m-nav-bar {
    height: 64px;
    width: 100vw;
    position: relative;
    /* top: 48px;
    left: 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: var(--peach-blush);
    z-index: 5;
}

.m-left-navbar {
    display: flex;
    justify-content: flex-start;
}

.m-right-navbar {
    display: flex;
    justify-content: flex-end;
}

.m-nav-icon {
    height: 64px;
    width: 40px;
    display: flex;
    align-items: center;
}

.m-right-navbar .m-nav-icon {
    justify-content: center;
    margin-left: 8px;
}

.m-left-navbar .m-nav-icon {
    justify-content: center;
    margin-right: 8px;
}

.m-nav-bar li {
    font-family: var(--Playfair);
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.m-nav-text {
    margin: 0 10px;
}

.m-nav-icon svg {
    height: 20px;
    width: auto;
}

.m-nav-placeholder {
    height: 40px;
    width: 178px;
    flex-shrink: 0;
}

#cart {
    position: relative;
}

.m-cart-badge {
    position: absolute;
    bottom: 15px;
    right: 16px;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-badge-background {
    background-color: var(--rich-gold);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 14px;
    box-shadow: 0m-5px 0m-5px 2px 0 black;
}

.m-badge-background-overlay {
    background: var(--metallic-overlay);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 14px;
    mix-blend-mode: luminosity;
    opacity: 0m-8;
}

#cart-contents {
    font-family: var(--Lato);
    font-weight: 600;
    z-index: 7;
    vertical-align: center;
    font-size: 12px;
    line-height: 11px;
    color: var(--pale-gold);
}
/*********************/
/****** Floats *******/
/*********************/

.m-nav-logo {
    position: absolute;
    top: -43px;
    left: calc((100vw - 158px) / 2);
    width: 158px;
    height: 158px;
}

.m-full-logo {
    position: relative;
}

.m-text-only-logo {
    position: absolute;
    top: 47px;
    left: 0;
    width: 158px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.m-text-only-logo img {
    width: 150px;
    height: auto;
}

.m-border-under {
    width: 158px;
    height: 158px;
    border-radius: 158px;
    background-color: var(--rich-gold);
    position: absolute;
    top: 0;
    left: 0;
    /* will-change: opacity; */
}

.m-border-over {
    width: 158px;
    height: 158px;
    border-radius: 158px;
    background: var(--metallic-overlay);
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: luminosity;
    opacity: 0.5;
    /* will-change: opacity; */
}

.m-full-logo img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 4px;
    left: 4px;
    will-change: opacity;
}

/***** Search Tab *****/

.m-search-tab-container {
    position: absolute;
    top: 114px;
    left: 0;
    width: 100vw;
    height: 64px;
    display: none;
    overflow: hidden;
}
.m-search-tab {
    background-color: var(--peach-blush);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: translateY(-64px);
}

.m-search-input {
    width: 80vw;
}

/***** Menu Drawer *****/
.m-menu-drawer-container {
    position: fixed;
    top: 0;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    z-index: 6;
    display: none;
}

.m-menu-drawer-backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.549);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.m-menu-drawer {
    position: relative;
    top: 0;
    height: 100vh;
    height: 100dvh;
    width: 375px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: scroll;
    transform: translateX(-375px);
}

.m-menu-drawer-header {
    height: 80px;
    background-color: var(--deep-peach);
    padding: 0 0 0 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.m-menu-title {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
}

.m-menu-drawer-header h2 {
    font-size: 1.25rem;
    margin: 0;
}

.m-back-button {
    width: 60px;
    height: 80px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-close-button {
    background-color: transparent;
    border: none;
    width: 60px;
    height: 80px;
    padding-top: 20px;
}

/** MAIN MENU**/

.m-main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.m-main-menu li button {
    border-radius: 0;
    width: 100%;
    height: 54px;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    font-size: 1rem;
    font-family: var(--Lato);
}

#m-shop-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/***** Shop Nav *****/
.m-shop-menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 375px;
    display: none;
}

.m-shop-category-block {
    transform: rotateX(-90deg);
}

.m-shop-category {
    height: 54px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    background-color: white;
}

.m-shop-category-name {
    height: 54px;
    width: 200px;
    align-content: center;
}

.m-shop-category-expand {
    height: 54px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-shop-subcategories {
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.m-shop-subcategory {
    background-color: var(--peaches-and-cream);
    height: 48px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

@media (max-width: 360px) {
    .m-nav-logo {
        scale: 0.85;
    }
}

/* Disable built-in "X" in html search field */

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}
input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
