.shop-container {
    display: flex;
}

.shop-heading {
    margin-bottom: 0;
}

.filter-options {
    width: 320px;
    margin-top: 109px;
    margin-right: 20px;
}

.filter-subcategory {
    margin-left: 10px;
    padding: 5px 0;
}

.color-option,
.material-option {
    width: 130px;
}

.product-display {
    flex-grow: 1;
}

.shop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.min-max-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.filter-submit {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 8px;
}

.sort-and-ipp {
    display: flex;
}

.per-page-selector {
    margin-left: 20px;
}

.ipp-selection {
    width: 100px;
}
