.shop-container {
    min-height: 90dvh;
}

.shop-header {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: -42.5px;
    z-index: 10;
}

.sort-and-ipp {
    display: grid;
    position: relative;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 60px;
    margin-top: 20px;
    background-color: var(--peaches-and-cream);
}

.shop-filter-button,
.shop-sort-button,
.sort-buttons {
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    z-index: 11;
}

.shop-filter-button {
    border-left: 0.5px solid var(--peach-blossom);
}

.shop-sort-button {
    border-right: 0.5px solid var(--peach-blossom);
    position: relative;
}

.shop-filter-icon,
.shop-sort-icon {
    margin-left: 8px;
}

.sort-buttons {
    background-color: var(--peaches-and-cream);
    width: 50vw;
    border-top: 1px solid var(--peach-blossom);
}

.mobile-sort-menu {
    position: absolute;
    top: 60px;
    width: 50vw;
    height: 0;
    transition: height 0.2s ease-in-out;
    overflow: hidden;
}

.filter-options-drawer {
    width: 320px;
    position: fixed;
    right: 0;
    top: 0;
    margin: 0;
    z-index: 101;
    height: 100dvh;
    background-color: white;
    display: none;
    transform: translateX(320px);
    padding: 20px;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
}

.filter-header h1 {
    font-size: 1.5rem;
}

.filters {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100dvh - 160px);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.filters::-webkit-scrollbar {
    display: none;
}

.filters > *:not(:first-child) {
    border-top: 1px solid lightgray;
}

.filter-section {
    margin-top: 10px;
}

.filter-type {
    font-size: 1.1rem;
}

.filter-subcategory {
    margin-left: 10px;
    padding: 5px 0;
}

.color-option,
.material-option {
    width: 130px;
}

.product-display {
    flex-grow: 1;
}

.min-max-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.price-label {
    font-family: var(--Playfair);
    font-size: 1.1rem;
    font-weight: 700;
}

.price-filters {
    margin-top: 14px;
}

.filter-submit-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 8px;
    padding-top: 20px;
    height: 60px;
    align-items: center;
    border-top: 1px solid lightgray;
}

@media (min-width: 500px) {
    .shop-header {
        position: static;
        top: auto;
    }

    .shop-heading {
        margin-bottom: 0;
    }

    .sort-and-ipp {
        display: flex;
        align-items: flex-end;
        margin-top: 20px;
        background-color: transparent;
        width: auto;
        height: auto;
    }

    .shop-filter-button {
        margin-left: 20px;
        border: 1px solid rgb(192, 192, 192);
        border-radius: 4px;
        height: 56px;
        color: rgba(0, 0, 0, 0.87);
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        font-size: 1rem;
        cursor: pointer;
    }

    .shop-filter-button:focus,
    .shop-filter-button:hover {
        border-color: var(--dark-peach);
        border-width: 2px;
    }

    .per-page-selector {
        margin-left: 20px;
    }

    .ipp-selection {
        width: 100px;
    }
}

@media (min-width: 890px) {
    .shop-header {
        flex-direction: row;
    }

    .sort-and-ipp {
        margin-top: 0;
    }
}

@media (min-width: 1155px) {
    .shop-container {
        display: flex;
    }

    .filter-options {
        width: 320px;
        margin-top: 109px;
        margin-right: 20px;
    }

    .shop-filter-button {
        display: none;
    }

    .filter-submit {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 8px;
    }
}
