.customer-address {
    display: flex;
    justify-content: space-between;
    background-color: var(--peach-blossom);
    padding: 10px;
    margin-bottom: 20px;
    height: 130px;
}

.ca-details div {
    font-size: 0.9rem;
    line-height: 1.15rem;
}

.ca-recipient {
    font-size: 1.1rem;
    margin: 0 0 5px 0;
}

.ca-phone {
    display: flex;
    align-items: center;
}

.ca-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
