.login {
    width: 100%;
    height: 100%;
}

.login-box {
    width: 90%;
    margin: 20vh auto 0 auto;
    margin-top: 20dvh;

    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.password-label {
    display: flex;
    justify-content: space-between;
    align-items: bottom;
    width: 100%;
}

.no-account {
    text-align: center;
    margin-top: 20px;
}

.sign-up-btn {
    color: var(--dark-peach);
    font-weight: 700;
}
