.header-and-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-and-filters {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.pm-filters {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.category-select,
.subcategory-select,
.view-select {
    margin-right: 10px;
    width: 200px;
}

.search-bar {
    width: 250px;
    margin-left: 20px;
}

.admin-catalog-thumbnail {
    width: 40px;
    height: auto;
}

.grayscale-thumbnail {
    filter: grayscale(100%);
}
