.dashboard-grid {
    width: 100%;
    margin-top: 40px;
}

.dashboard-top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.dashboard-revenue {
    width: 70%;
    min-height: 400px;
    height: 40vh;
    background-color: white;
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.dashboard-revenue-chart {
    padding: 20px 0;
    height: 350px;
}

.sales-summary {
    background-color: white;
    padding: 20px;
    width: 300px;
    flex-shrink: 0;
    position: relative;
}

.top-products {
    background-color: white;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}
