.menu-svg {
    width: 25px;
    height: auto;
}

.menu-svg path,
.menu-svg polygon {
    fill: white;
}

.menu-drawer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.currentUserDetails {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.name-and-access {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.username-display,
.access-level-display {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}
