.cart-container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

.cart-container .cart h1 {
    margin-top: 0;
}

.cart-items-container {
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.243);
    max-width: 540px;
    margin: 0 auto;
}

.cart-items-container > *:not(:last-child) {
    margin-bottom: 30px;
}

.cart-container .cart-item {
    display: flex;
    width: calc(100vw - 60px);
    max-width: 500px;
}

.cart-container .thumbnail-remove {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 40px;
}

.cart-container .cart-thumbnail {
    width: 70px;
    height: auto;
}

.cart-container .cartItemDetails {
    margin-left: 10px;
    flex-grow: 1;
}

.cart-container .cart-item-name {
    margin: 0;
    font-size: 1.1rem;
}

.cart-container a {
    text-decoration: none;
    color: black;
}

.cart-container .cart-productNo {
    font-size: 0.75rem;
}

.cart-container .price-and-quantity {
    margin-top: 10px;
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
}

.cart-container .quantity {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.cart-container input {
    width: 40px;
    padding: 5px 0;
    margin-left: 5px;
    text-align: center;
}

.cart-container .update-quantity,
.cart-container .remove-button {
    margin: 8px 0;
    height: 40px;
    align-content: center;
    font-size: 0.9rem;
}

.cart-container .item-total {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    border-top: 1px solid lightgray;
    padding-top: 5px;
}

.cart-container .order-options {
    margin-top: 30px;
    border: 1px solid var(--deep-peach);
    padding: 20px;
}

.cart-container .order-summary-label {
    margin: 0;
}

.cart-container .cart-subtotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

@media (min-width: 810px) {
    .cart-container {
        max-width: 1000px;
        width: calc(100vw - 40px);
        /* margin-left: 0;
        margin-right: 0; */
        display: grid;
        align-items: start;
        justify-items: start;
        grid-template-columns: 3fr 2fr;
    }

    .cart-container .cart {
        width: 100%;
    }

    .cart-container .order-options {
        min-width: 300px;
        margin-left: 20px;
        height: auto;
    }

    .cart-container .cart-items-container {
        margin-left: 0;
    }

    .cart-container .cart-item {
        width: 100%;
        max-width: none;
    }

    .cart-container .order-options-container {
        margin-top: 64px;
        width: 100%;
    }
    .cart-container .order-options {
        margin-top: 0;
    }
}
