main {
    margin-top: 60px;
    padding: 0 10px;
    min-height: calc(100vh - 520px);
    min-height: calc(100dvh - 520px);
}

h1,
h2,
h3,
h4 {
    font-family: var(--Playfair);
}

header {
    z-index: 100;
}

button {
    font-family: var(--Lato);
    font-size: 0.8rem;
}

article {
    max-width: 1000px;
    margin: 0 auto 60px auto;
}

article h1 {
    font-size: 2rem;
}

article > ul {
    list-style: none;
    padding-left: 0;
}

@media (min-width: 810px) {
    main {
        margin-top: 180px;
        padding: 0 20px;
    }
}
