main {
    margin-top: 170px;
    padding: 0 20px;
    min-height: calc(100dvh - 520px);
}

h1,
h2,
h3,
h4 {
    font-family: var(--Playfair);
}

header {
    z-index: 100;
}

button {
    font-family: var(--Lato);
    font-size: 0.8rem;
}

.policies > ul {
    list-style: none;
    padding-left: 0;
}
