.analytics-box {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border: 3px solid var(--peach-blush);
    margin-top: 30px;
    background-color: white;
}

.box-header,
.box-footer {
    background-color: var(--peach-blush);
    height: 52px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.box-header h2 {
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 400;
}

.chart-selection-btns {
    display: flex;
    flex-shrink: 0;
}

.period-selection-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.period-selection-label {
    font-weight: 600;
    font-size: 1.1rem;
}

.chart-cont {
    width: 100%;
    overflow-x: auto;
}

.chart {
    padding: 20px 0;
    height: 400px;
}

.pie-chart-cont {
    padding-top: 0;
}

.pie-chart {
    height: 350px;
}

.chart-loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-picker {
    background-color: var(--peach-blush);
    position: absolute;
    left: 10px;
    top: 0;
    width: calc(100vw - 40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    z-index: 0;
    transition: width 0.35s ease-in-out, z-index 0s 0.15s;
}

.date-pickers-cont {
    display: flex;
    min-width: calc(100vw - 80px);
    justify-content: space-evenly;
    align-items: center;
    height: 52px;
    overflow: hidden;
}

.date-pickers-cont .MuiFormControl-root.MuiTextField-root {
    padding-top: 5px;
}

.date-pickers-cont .MuiFormLabel-root.MuiInputLabel-root {
    padding-top: 6px;
    text-transform: uppercase;
}

.date-pickers-cont .MuiInputBase-root.MuiOutlinedInput-root {
    background-color: var(--peach-blossom);
    height: 40px;
    width: 140px;
    font-size: 0.8rem;
    font-weight: 600;
}

.granularity-select {
    position: absolute;
    right: 10px;
}

.granularity-button-set-cont {
    overflow-x: hidden;
    width: calc(100vw - 40px);
    transition: all 0.4s ease-in-out;
}

.granularity-button-set {
    overflow-x: scroll;
    background-color: var(--peach-blush);
    display: flex;
    justify-content: space-evenly;
    scrollbar-width: none; /* Firefox */
}

.granularity-button-set::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.granularity-button {
    background-color: var(--peach-blush);
    padding: 10px;
    font-size: 0.75rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.54);
    cursor: pointer;
    flex-shrink: 0;
    transition: color 0.2s ease-in-out;
}

.granularity-button-selected {
    position: sticky;
    right: 0;
    left: 0;
}

.granularity-button:hover {
    color: white;
}

.granularity-button:not(:first-of-type) {
    border-left: none;
}

.top-products {
    background-color: white;
}

.top-products-contents {
    width: 100%;
    position: relative;
}

.top-products-contents > :nth-child(2n) {
    background-color: var(--peach-blossom);
}

.top-products-contents > :not(:first-child) {
    cursor: pointer;
}

.top-products-contents > :not(:first-child):hover {
    background-color: var(--peaches-and-cream);
}

.top-products-header {
    border-bottom: 1px solid lightgray;
    padding-bottom: 0;
}

.analytics-product {
    height: 70px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 3fr 9fr 3fr;
    gap: 10px;
}

.analytics-product > * {
    align-self: center;
}

.analytics-product > :last-child {
    text-align: right;
}

.analytics-product-thumbnail {
    height: 50px;
    width: auto;
}
@media (min-width: 500px) {
    .analytics-product {
        grid-template-columns: 1fr 3fr 6fr 9fr 3fr;
    }
}

@media (min-width: 600px) {
    .date-picker {
        left: 10px;
        width: calc(100vw - 299px);
    }

    .date-pickers-cont {
        min-width: calc(100vw - 339px);
    }

    .granularity-button-set-cont {
        width: calc(100vw - 299px);
    }

    .analytics-product {
        padding: 10px 20px;
        grid-template-columns: 1fr 3fr 9fr 3fr;
    }
}

@media (min-width: 750px) {
    .analytics-product {
        grid-template-columns: 1fr 3fr 6fr 9fr 3fr;
        padding: 10px 30px;
    }
}

@media (min-width: 800px) {
    .box-header,
    .box-footer {
        padding: 0 20px;
    }

    .box-header h2 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}

@media (min-width: 950px) {
    .select-dates-btn {
        display: none;
    }

    .date-picker {
        position: static;
        width: auto;
        background-color: transparent;
        justify-content: flex-start;
    }

    .date-pickers-cont {
        position: static;
        width: auto;
        min-width: auto;
        padding-top: 3px;
        justify-content: flex-start;
    }

    .date-pickers-cont .MuiFormControl-root.MuiTextField-root {
        padding-top: 1px;
        margin-right: 20px;
    }

    .date-pickers-cont .MuiFormLabel-root.MuiInputLabel-root {
        padding-top: 2px;
    }

    .granularity-button-set-cont {
        position: static;
        width: auto;
        background-color: transparent;
    }

    .date-pickers-cont .MuiInputBase-root.MuiOutlinedInput-root {
        width: 140px;
        font-size: 0.8rem;
    }
}
