.enter-order-number-dialogue {
    min-width: 320px;
    max-width: 500px;
    width: 90vw;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.enter-order-number-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    width: 100%;
    margin: 10px auto;
}

.order-details-container {
    max-width: 1000px;
    margin: 0 auto;
    width: 90vw;
    background-color: white;
    padding: 30px;
}
.order-status-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.order-details {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%;
    margin-top: 30px;
}

.status-summary {
    max-width: 400px;
}

.shipping-billing-details {
    margin: 16px 0;
    text-align: right;
    flex-grow: 0;
    flex-shrink: 0;
}

.os-shipping-label {
    font-weight: 600;
    margin-bottom: 5px;
}

.order-status-thumbnail {
    width: 40px;
    height: auto;
}
