files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443 ssl;
          server_name  api.pb.ryanyoung.codes;
        
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
              set $year $1;
              set $month $2;
              set $day $3;
              set $hour $4;
          }
          access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGUDCCBTigAwIBAgIRAMtI3aoaeJotf/Yrhd8c5v8wDQYJKoZIhvcNAQELBQAw
      gY8xCzAJBgNVBAYTAkdCMRswGQYDVQQIExJHcmVhdGVyIE1hbmNoZXN0ZXIxEDAO
      BgNVBAcTB1NhbGZvcmQxGDAWBgNVBAoTD1NlY3RpZ28gTGltaXRlZDE3MDUGA1UE
      AxMuU2VjdGlnbyBSU0EgRG9tYWluIFZhbGlkYXRpb24gU2VjdXJlIFNlcnZlciBD
      QTAeFw0yNDA4MDEwMDAwMDBaFw0yNTA4MDEyMzU5NTlaMCExHzAdBgNVBAMTFmFw
      aS5wYi5yeWFueW91bmcuY29kZXMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEK
      AoIBAQCXiGuo+nmJhm6jws/LeeJHetIhXoAcC91kv45bZihRor3sHGFZKZzc7Y5O
      DYTBcXyeFp3ZsdNDaStEb0Hk0QYx/7glXKF92ElqvUECidpHxk71tA194Lhvowxc
      n0JRyHvYmp6OHNG7S+dP8AMNYTUjJy6b0+Hbzs/y8NWGWiJC+MK3toPCcUMPQZC/
      lxVoDukt8ZEUX8TKno931DhTB7B/B5X2hbJvVGPY7A8WYDl5oOjkR3LY8sYkMBUn
      00eACZh3R4kuQbj0ayKHTfE2B7was5vBHBB3CK/Dfq3ljfieTDbPjpvD8iPFsH20
      TOjjk4JqSavEgUIBhvIbaiBQ364LAgMBAAGjggMSMIIDDjAfBgNVHSMEGDAWgBSN
      jF7EVK2K4Xfpm/mbBeG4AY1h4TAdBgNVHQ4EFgQUHXUTEhxXmHOAzw4FXF2QLYTA
      LJ4wDgYDVR0PAQH/BAQDAgWgMAwGA1UdEwEB/wQCMAAwHQYDVR0lBBYwFAYIKwYB
      BQUHAwEGCCsGAQUFBwMCMEkGA1UdIARCMEAwNAYLKwYBBAGyMQECAgcwJTAjBggr
      BgEFBQcCARYXaHR0cHM6Ly9zZWN0aWdvLmNvbS9DUFMwCAYGZ4EMAQIBMIGEBggr
      BgEFBQcBAQR4MHYwTwYIKwYBBQUHMAKGQ2h0dHA6Ly9jcnQuc2VjdGlnby5jb20v
      U2VjdGlnb1JTQURvbWFpblZhbGlkYXRpb25TZWN1cmVTZXJ2ZXJDQS5jcnQwIwYI
      KwYBBQUHMAGGF2h0dHA6Ly9vY3NwLnNlY3RpZ28uY29tMD0GA1UdEQQ2MDSCFmFw
      aS5wYi5yeWFueW91bmcuY29kZXOCGnd3dy5hcGkucGIucnlhbnlvdW5nLmNvZGVz
      MIIBfAYKKwYBBAHWeQIEAgSCAWwEggFoAWYAdQDd3Mo0ldfhFgXnlTL6x5/4PRxQ
      39sAOhQSdgosrLvIKgAAAZELTDrsAAAEAwBGMEQCIEWWqmf5a0+6pxoGZ+Rsb/lG
      7xIHCT0rQ1nzWjjVOjnZAiAuMI7EIbO9/fDB3klSava+KLmUn4L5/AWrTimTv0EN
      RQB2AA3h8jAr0w3BQGISCepVLvxHdHyx1+kw7w5CHrR+Tqo0AAABkQtMOsEAAAQD
      AEcwRQIgN3EsygBcglw2ifQEQm6ISEXiU4PSRIhiCUCWLInPJGcCIQDbfRbR0lnX
      e12hpt8kt1I/p8aOeBLYQZ/A5PkxluGwrQB1ABLxTjS9U3JMhAYZw48/ehP457Vi
      h4icbTAFhOvlhiY6AAABkQtMOpkAAAQDAEYwRAIgc4eAaApV7OkUPPL25V3tMYoN
      4HCI7cTCQVrujnbyBBgCICZ8kwn92umcxLCWgXt5GtWvxHJlgcWE++vgSDp8DAB1
      MA0GCSqGSIb3DQEBCwUAA4IBAQCztywFtKjSbmPi40idN4pqMO+JQ4UWtttAB74S
      Nao0BCGQcY3VWKGjkThkzftEhz6Dccipwf6E8XZecBBdWFzZIVuoYz5DJONMMUZL
      TWiwG9U7Y/GX+fZfvsesN0qbRo0PpmT61OPZC5kFEDn0Izu/fUnS7zPI5bq0kxQX
      0a+p7QfzbFpdPTfD50CXwLNXP+4rl1MCVEOXuNRyAoKe0pQBXN5kR+vPHGCJaDyp
      yrNY84ZxZtDZ0HbVI8xM9xz1cJ9fPs+lqWHC1su4pRlxIa+iq+zzSQofYgyIDm4E
      WMe7CVUPlojeU699fLTLWweTRPXCZx6UaEsWSyQ16GuyKcRw
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCXiGuo+nmJhm6j
      ws/LeeJHetIhXoAcC91kv45bZihRor3sHGFZKZzc7Y5ODYTBcXyeFp3ZsdNDaStE
      b0Hk0QYx/7glXKF92ElqvUECidpHxk71tA194Lhvowxcn0JRyHvYmp6OHNG7S+dP
      8AMNYTUjJy6b0+Hbzs/y8NWGWiJC+MK3toPCcUMPQZC/lxVoDukt8ZEUX8TKno93
      1DhTB7B/B5X2hbJvVGPY7A8WYDl5oOjkR3LY8sYkMBUn00eACZh3R4kuQbj0ayKH
      TfE2B7was5vBHBB3CK/Dfq3ljfieTDbPjpvD8iPFsH20TOjjk4JqSavEgUIBhvIb
      aiBQ364LAgMBAAECggEAO4ufCrrKcZFC/tT5xLJzibUox3YUD3FWIVXowd/F7jZu
      PU71rgzdGC+9YMyNI1rOJm0qwDXRl8bG+tBha2H79j/Pg9b/mq0YRHp0BmRXQycZ
      NhH3z0Q0FaJTpD3s2KhYikhQD/YhMGFmVxIwkNxm/hZSiWdcdHyzWHrs3SukFP6C
      6dNHNSfbUP25hmkgaeccCH/+YDNd399r/edhryKA/riIg6tCa83QKGE4gDETOX/Z
      BQ9z9c4AM8lB1M5UoVrqogm9+uFW2D/NN+77ZT7UF7tt2RhOrhSwYE8HWodBGgNw
      eK/V/TJcnnj0qdMpujeAcFFlrAvjg1CV15wsnglbwQKBgQDJJomuRUBdOaNGcMed
      UhzQS59v/Uw5NSjirNil3FXxvYZTRcI9ALHwIN7jEYWQhAWyCb4bhJJiXOCY8cRI
      m3jC5thnsmnOp/sAZxQYSUkMf3UBzkMq6qYL2h3iMWNz4kWg/4CkGBuprz2KWL/x
      rlwLd9d4mF/Al3PLez3l1aUS6wKBgQDA2klImMP753D+7VEL4dJtV9urIhfUMoxA
      W5Mme9yO1wp6YrZWFDPkpu4UN5NDNjWgUHT+FyIISZjj67OMQErF6IEGD7n0/64o
      bkwf9T3phlB9GIfNt4ije/VAeGg7vPHfx4XBOe9etoRBfipekPxkIZ2mepORd2Tr
      rRDHvCvJYQKBgG5POAnd6GI3jZa/mnhn421HS3Q60GY/BODqMRUkM+2SJevcwZx6
      mRo6rICRx1FtVUJBnYOxvCU9Ed5OF3pJ6HvZ5KtZaDTwYfHilV6MMgcsjpoi5yrN
      66lsQB8fPo76c3zLIVzb66+ubm1EJl7/Y3LWkc+MoFYZuGLKfzNfaltpAoGAMWm8
      zTUXQjwS376+vWSnHg0c48RghqZM+VB9a6bg5FiE/sa8IWIbycJbziJPQTFqnCEB
      WPlkZus0mXGTF6SBhCQGqx7sbrH0VbetGaMksekQRn06jqMwB3ODa3lue5/1+XiN
      9Ox7QLFTQdSp1oEfqihS1I0jsmn9GcXGPucf8QECgYBjoLNW348OIS2K9FgCiLC8
      3PLzV0n1QVxKoEThPccBR63EfXcs4LUiZNauI3Bx4Y913fi0BmJDLQjWrwk4anPc
      WvOmvgLfhxHHTt7Wrri8zkNfBnc2JhJrcBD5qq9kkyHuT/G8xf0ENQvAjcXWAfLC Ipg8JZJxIXjejtcelcqI1w==
      -----END RSA PRIVATE KEY-----