files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      types_hash_max_size 2048;
      types_hash_bucket_size 128;

  "/etc/nginx/nginx.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      user                    nginx;
      worker_processes        auto;
      error_log               /var/log/nginx/error.log;
      pid                     /var/run/nginx.pid;
      events {
          worker_connections  2048;
      }
      http {
          include             /etc/nginx/mime.types;
          default_type        application/octet-stream;
          log_format  main    '$remote_addr - $remote_user [$time_local] "$request" '
                              '$status $body_bytes_sent "$http_referer" '
                              '"$http_user_agent" "$http_x_forwarded_for"';
          access_log          /var/log/nginx/access.log  main;
          sendfile            on;
          keepalive_timeout   65;
          include             /etc/nginx/conf.d/*.conf;
      }
  "/etc/nginx/conf.d/upstream.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      upstream nodejs {
          server 127.0.0.1:8080;  # Adjust the IP address and port as needed
      }

container_commands:
  01_restart_nginx:
    command: "service nginx restart"