.order-history {
    width: 100vw;
    margin-left: -10px;
}

.order-header {
    padding-left: 20px;
}

.order-row {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid var(--peaches-and-cream);
}

.order-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--peach-blush);
    padding: 10px 20px;
}

.top-bar-left {
    display: flex;
}

.placed-on-date .date {
    margin-right: 10px;
}

.customer-order-no-number {
    text-align: right;
}

.order-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.order-description {
    display: flex;
    align-items: flex-start;
}

.order-thumbnail {
    height: 100px;
    width: auto;
}

.customer-order-details {
    margin-left: 30px;
}

.item-number {
    margin-top: 10px;
}

.order-options {
    flex-shrink: 0;
}

.order-history-page {
    background-color: white;
    padding: 30px 5px;
}

@media (max-width: 599px) {
    .order-history-page .page-selector {
        margin-top: 0;
    }
}

@media (min-width: 600px) {
    .order-history {
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
    }

    .order-header {
        padding: 0;
    }

    .order-row {
        border: 3px solid var(--peach-blush);
        margin-bottom: 30px;
        box-shadow: var(--light-box-shadow);
    }

    .placed-on {
        width: 221px;
        margin-right: 30px;
    }

    .item-number {
        margin: 0;
    }

    .order-history-page {
        background-color: transparent;
        padding: 0;
    }
}
