.order-history {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.order-row {
    width: 100%;
    border: 3px solid var(--peach-blush);
    margin-bottom: 30px;
    background-color: white;
    box-shadow: var(--light-box-shadow);
}

.order-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--peach-blush);
    padding: 10px 20px;
}

.top-bar-left {
    display: flex;
}

.placed-on {
    margin-right: 30px;
    width: 221px;
}

.placed-on-date .date {
    margin-right: 10px;
}

.customer-order-no-number {
    text-align: right;
}

.order-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.order-description {
    display: flex;
    align-items: flex-start;
}

.order-thumbnail {
    height: 100px;
    width: auto;
}

.item-number {
    margin-left: 30px;
}
